{% extends "base.html" %} {% load wagtailcore_tags wagtailimages_tags %} {% block body_class %} template-blogpage {% endblock %} {% block content %}
<h1> {{ page.title }} </h1>
<p class="meta"> {{ page.date }} </p>

<div class="intro"> {{ page.intro }} </div>

{{ page.body | richtext }} {% for item in page.gallery_images.all %}
<div style="float: left; margin: 10px">
    {% image item.image fill-320x240 %}
    <p> {{ item.caption }} </p>
</div>
{% endfor %}

<p>
    <a href=" {{ page.get_parent.url }} "> Return to blog </a>
</p>

{% endblock %}