{% extends "base.html" %} {% load wagtailcore_tags %} {% block body_class %} template-blogindexpage {% endblock %} {% block content %}
<h1> {{ page.title }} </h1>

<div class="intro"> {{ page.intro | richtext }} </div>

{% for post in page.get_children %}
<h2>
    <a href=" {% pageurl post %} "> {{ post.title }} </a>
</h2>
{{ post.specific.intro }} {{ post.specific.body | richtext }} {% endfor %} {% endblock %}