{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %} {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} {% endblock %} {% block title_suffix %} {% with self.get_site.site_name as site_name %} {% if site_name %}- {{ site_name }}{% endif %} {% endwith %} {%
        endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gamecoders.css' %}"> {% block extra_css %} {# Override this in templates to add extra stylesheets #} {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %} {% block content %}{% endblock %} {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/gamecoders.js' %}"></script>

    {% block extra_js %} {# Override this in templates to add extra javascript #} {% endblock %}
</body>

</html>

{% endblock %}