{% extends "base.html" %} {% load wagtailcore_tags %} {% block body_class %} template-homepage {% endblock %} {% block content %}

<ul>{% for subpage in request.site.root_page.get_children %}
    <li><a href="{% pageurl subpage %}">{{ subpage.title }}</a></li>{% endfor %}</ul> {{ page.body | richtext }} {% endblock %}

<h1> test</h1>